<!DOCTYPE html>
<html lang="en" ng-app="djMod">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-init="users=[{name:'dsd',age:4},{name:'ggg',age:77}]">
<div class="container">
    <div class="row">
        <!--{{99.99|currency}}
        {{"434234.32"|number:1|currency}}-->
        姓名 <input type="text" ng-model="search.name">
        年龄 <input type="text" ng-model="search.$age"> <!--$表示匹配所有属性-->
        <button class="btn btn-info" ng-click="order = 'age'">升序</button>
        <button class="btn btn-info" ng-click="order = '-age'">降序</button>
        <table class="table table-responsive">
            <tr>
                <td>姓名</td>
                <td>年龄</td>
            </tr>
            <tr ng-repeat="user in users | filter:search">
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
            </tr>
        </table>
        <table class="table table-responsive">
            <tr>
                <td>姓名</td>
                <td>年龄</td>
            </tr>
            <tr ng-repeat="user in users | orderBy:order"> <!--order也可填'age'-->
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
            </tr>
        </table>
        {{count}}
    </div>
</div>

</body>
<script src="../lib/angular/angular.js"></script>
<script>
    angular.module('djMod',[]);

</script>
</html>