<!DOCTYPE html>
<html lang="en" ng-app="bookMod">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="bookCtrl">
<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>书名</td>
    </tr>
    <tr>
        <td>{{book.id}}</td>
        <td>{{book.name}}</td>
    </tr>
</table>

<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>书名</td>
        <td>操作</td>
    </tr>
    <tr ng-repeat="book in books">
        <td>{{book.id}}</td>
        <td>{{book.name}}</td>
        <td>
            <button class="btn btn-warning">修改</button>
            <button class="btn btn-danger">删除</button>
        </td>
    </tr>
</table>

<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>书名</td>
    </tr>
    <tr>
        <td><input type="text" ng-model="book.name" class="form-control"></td>
        <td>
            <button class="btn btn-primary">保存</button>
        </td>
    </tr>
</table>
</body>
<script src="../../lib/angular/angular.js"></script>
<script>
    angular.module('bookMod',[]);
    angular.module('bookMod',[]).factory('bookService', function ($http) {
        return {
            add: function (book) {
                return $http.post('/books',book);
            }
        }
    });
    angular.module('bookMod').controller('bookCtrl', function ($scope,bookService) {
        //bookService.add($scope.book).then()
    })
</script>
</html>